/********** Template CSS **********/
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;

    /* Set neon color */
  --neon3-text-color: #f40;
  --neon3-border-color: #08f;

}


body{
	font: 12pt/2 Yekan, 'Nunito', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font: 12pt/2 Yekan, 'Nunito', sans-serif;
}


.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Yekan', 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }

    .carousel-container{
      padding-right: 30px;
      padding-left: 30px;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header img {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Food Menu ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: calc(100% - 38px);
    transition: .5s;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item:hover {
    height: 100%;
}

.team-item .btn {
    border-radius: 38px 38px 0 0;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-align: right;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

















.menu-item-container{
  direction: rtl;
}

.text-start,
.text-lg-start{
  text-align: right !important;
}


.modal-header .btn-close{
  margin: 0;
}





.select-food-quantity .number{
    display: inline-block;
    font-size: 13pt;
}

.select-food-quantity .number input{
    display: inline-block;
    font-size: 20pt;
    font-weight: 700;
}

.select-food-quantity .number .minus,
.select-food-quantity .number .plus{
  font-size: 25pt;
  line-height: 2.1rem;
}

.cart-food-main-title{
    font-size: 18pt;

}

.select-food-quantity span {cursor:pointer; }

.select-food-quantity .minus, .select-food-quantity .plus,
.select-food-quantity .reduce_count, .select-food-quantity .increase_count{
width: 40px;
height: 40px;
background: white;
border-radius: 0;
padding: 0px 5px 0px 5px;
border: 1px solid #ddd;
display: inline-block;
vertical-align: middle;
text-align: center;
}
.select-food-quantity input{
height: 40px;
width: 60px;
text-align: center;
border: 1px solid #ddd;
border-radius: 0;
display: inline-block;
vertical-align: middle;
border-right: none;
border-left: none;
}


.select-food-quantity .add-to-cart-btn{

height: 40px;
font-size: 15pt;
padding-top: 3px;
font-weight: 700;
float: left;

}


@font-face {
  font-family: 'Yekan';
  src: url( '../fonts/byekan/Yekan.eot' );
  src: url( '../fonts/byekan/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/byekan/Yekan.woff2' ) format( 'woff2' ),
    url( '../fonts/byekan/Yekan.woff' ) format( 'woff' ),
    url( '../fonts/byekan/Yekan.ttf' ) format( 'truetype' ),
    url( '../fonts/byekan/Yekan.svg#Yekan' ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Tanha';
  src: url('../fonts/Tanha-FD.eot');
  src: url('../fonts/Tanha-FD.eot?#iefix') format('FontName-opentype'),
       url('../fonts/Tanha-FD.woff') format('woff'),
       url('../fonts/Tanha-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* cyrillic-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6I6MmTpA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




.footer-item-header-container{
  display: inline-block;width: 100%;
}
.footer-item-header-container h4{
  float: left;
}





        .carousel-indicators [data-bs-target]{
            border-top-color: #fdfdfd;
            border-bottom-color: transparent;
        }

        .img-food-big1{
            width: 100%;
        }


         .main-menu-pills-item i{
                width: 38px;
        }

        #top-menu-container{
            padding-right: 0;
        }


        @media (max-width: 1200px) {
          .side-menu-container .main-menu-item-cont h6{
              font-size: 22pt !important;
          }
        }



        @media (max-width: 991px) {
              .img-food-big1{
                    /* width: 75%; */
                    /* max-width: 75% !important; */
                }
        }

        @media (max-width: 550px) {
              .add-to-cart-btn{
                text-align: center;
                width: 100%;
                margin-top: 15px;
              }

              .select-food-quantity{
                width: 100%;
                text-align: center !important;
              }

              .food-item-title-cont{
                display: inline-block !important;
              }

               .food-item-title-cont span{
                width: 100%;
                display: block;
               }


               .img-food-big1{
                    /*
                    width: 75%;
                    max-width: 75% !important;
                    */
                }

                .main-menu-pills-item i{
                        font-size: 16px;
                }
                .main-menu-pills-item h6{
                        font-size: 16px !important;
                }

                .main-menu-pills-item{
                        display: inline-block !important;
                        text-align: center !important;
                }


                .main-menu-item-cont{
                    padding-right: 0 !important;

                }

                .side-menu-container{
                    padding: 0 0 0 5px !important;
                }







        }





















        .img-food-big1{
            /* max-width: 60%; */
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FEA116'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            top: 50%;
            position: absolute;

        }
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FEA116'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
            top: 50%;
            position: absolute;

        }


        .carousel-control-next,
        .carousel-control-prev{
            max-height: calc(100% - 120px);
        }



        @media (max-width: 991px) {
            .carousel-control-next-icon {

                top: 45%;


            }
            .carousel-control-prev-icon {

                top: 45%;


            }




        }




        @media (max-width: 768px) {


            .side-menu-container .main-menu-item-cont h6{
                font-size: 21pt !important;
            }

            .carousel-control-next-icon {

                top: 45%;


            }
            .carousel-control-prev-icon {

                top: 45%;


            }


            .carousel-control-next,
            .carousel-control-prev{
                max-height: calc(100% - 200px);
            }
        }


         @media (max-width: 550px) {


             .carousel-control-next-icon {

                top: 42%;


            }
            .carousel-control-prev-icon {

                top: 42%;


            }


            .carousel-control-next,
            .carousel-control-prev{
                max-height: calc(100% - 250px);
            }


            .side-menu-container .main-menu-item-cont h6{
                font-size: 18pt !important;
            }
         }


         @media (max-width: 350px) {


             .carousel-control-next-icon {

                top: 40%;


            }
            .carousel-control-prev-icon {

                top: 40%;


            }



            .carousel-control-next,
            .carousel-control-prev{
                max-height: calc(100% - 350px);
            }
         }

























.select-food-quantity{
            float: left;
        }

        .select-food-quantity .number{
            margin-left: 15px;
        }




    .neonText {
      animation: flicker 1.5s infinite alternate;
      color: #fff;

      font-family: 'Tanha';
      text-align: right;
      font-size: 20px;

    }


    .neonText2 {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
        animation: blink 12s infinite;
        -webkit-animation: blink 12s infinite;

    }








    /* Flickering animation */
    @keyframes flicker {

      0%, 18%, 22%, 25%, 53%, 57%, 100% {

          text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px #0fa,
          0 0 80px #0fa,
          0 0 90px #0fa,
          0 0 100px #0fa,
          0 0 150px #0fa;

      }

      20%, 24%, 55% {
          text-shadow: none;
      }
    }


    /* Additional styling */




    .neonText {
      text-align: right;
      text-transform: uppercase;
      font-weight: 400;
    }



    .side-menu-container{
        text-align: right;
        /*background-color: #0F172BBD !important;*/
        padding: 10px 4px;
        min-height: 615px;
        margin-top: 10px;

    }

    .side-menu-container ul, .side-menu-container li, .side-menu-container li a{
        width: 100%;
    }

    .side-menu-container .main-menu-item-cont h6{
        color: #fff;
        font: 25pt/1.5 Tanha, Yekan, 'Nunito', sans-serif;
        white-space: nowrap;

    }



    .main-course-container{
        background-color: #0F172B;
    }

    .food-item-title-cont{
        color: #fff;
    }


    .food-item-title-cont *{
        font-size: 29pt;
        line-height: 1;
    }






    @-webkit-keyframes blink {
      20%,
      24%,
      55% {
        color: #111;
        text-shadow: none;
      }

      0%,
      19%,
      21%,
      23%,
      25%,
      54%,
      56%,
      100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
      }
    }

    @keyframes blink {
      20%,
      24%,
      55% {
        color: #111;
        text-shadow: none;
      }

      0%,
      19%,
      21%,
      23%,
      25%,
      54%,
      56%,
      100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
      }
    }










.side-menu-container ul .active {

  color: #fff;
  padding: 7px;
  border: 2px solid #fff !important;
  border-radius: 5px;
  text-transform: uppercase;
  /*animation: flicker2 1.5s infinite alternate;   */
}

.side-menu-container ul .active::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.side-menu-container ul .active::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.side-menu-container ul .active:focus {
  outline: none;
}


    /* Animate neon flicker */
    @keyframes flicker2 {

        0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

            text-shadow:
                -0.2rem -0.2rem 1rem #fff,
                0.2rem 0.2rem 1rem #fff,
                0 0 2rem var(--neon3-text-color),
                0 0 4rem var(--neon3-text-color),
                0 0 6rem var(--neon3-text-color),
                0 0 8rem var(--neon3-text-color),
                0 0 10rem var(--neon3-text-color);

            box-shadow:
                0 0 .5rem #fff,
                inset 0 0 .5rem #fff,
                0 0 2rem var(--neon3-border-color),
                inset 0 0 2rem var(--neon3-border-color),
                0 0 4rem var(--neon3-border-color),
                inset 0 0 4rem var(--neon3-border-color);
        }

        20%, 24%, 55% {
            text-shadow: none;
            box-shadow: none;
        }
    }




 @media (min-width: 992px) {
    .img-food-big1{
            width: 100%;
        }
}




.image-container {
  max-width: 100%;
  /*max-height: 500px;*/
  overflow: hidden;
}

.image-container > img {
  width: 100%;
  height: auto;
}


#customers_list_table tr{
  direction: rtl;
  width: 100%;
}

#customers_list_table tr td,#customers_list_table tr th{
  direction: rtl;
  text-align: right;
}

#customers_list_table tr td{
  font-size: 18pt;
  font-weight: 700;
}


#orders_list_table tr{
  direction: rtl;
  width: 100%;
}

#orders_list_table tr td,#orders_list_table tr th{
  direction: rtl;
  text-align: right;
}

#orders_list_table tr td{
  font-size: 20pt;
  font-weight: 700;
  white-space: nowrap;
  color: #090909;
}

.customers-list-default-user-img{
  height: 115px;
  width: auto;
}

#cart_result_container{
  direction: rtl;
  text-align: center;
}


#login_container *{
  text-align: right;
  direction: rtl;
}

#login_container .card-body label,
#login_container .card-body input{
  text-align: left;
}

#orders-list-table-body .success-row{
  background-color: #d6ffd6;
}

#orders-list-table-body .warning-row{
  background-color: #ffe5b6;
}

.hide{
  display: none;
}

div.freeShippingRibbon {
    height: 35px;
    width: 180px;
    background-color: #9C1B21;
    position: absolute;
    top: 48px;
    right: 6px;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
  -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

.freeShippingRibbon:before {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 37px;
    border-left-width: 53px;
    border-right-width: 26px;
    content: "";
    display: block;
    left: -49px;
    position: absolute;
    width: 141%;
    border-top-width: 0px;
    border-bottom-color: #9c1b21;
    top: -2px;
    z-index: -1;
}
